.persona {
  display: block;
  height: 8.6em;
  background: rgba(54, 86, 107, 0.901);
  /* background-image: url("./noise-light.png"); */
  border-radius: 0.24em;
  margin-bottom: 1em;
}
.avail-card {
  display: block;
  width: 16.4em;
  height: fit-content;
  object-fit: contain;
  background: #dedede50;

  border-radius: 0.24em;
  padding: 12px;
}

.avail {
  display: block;
  border-radius: 0.24em;
}

.avail-card h2 {
    font-size: 1.34em;
  font-weight: 700;
}

.avail-card p {
  font-size: 0.95em;
  text-decoration: underline;
  font-weight: 300;
}

.avail ul {
  font-size: 0.82em;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
