* {
  scrollbar-width: none;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 85%;
  max-width: 1600px;
  margin: auto;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--foreground);
  caret-color: #dd4c4f;
  box-sizing: border-box;
  font-size: var(--font-size);
}

.layout {
  display: flex;
  flex-direction: column;
  display: flex;
}

.blocks {
  display: inline-block;
  outline: none;
  text-rendering: optimizeLegibility;
}

.blocks p {
  color: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.blocks p::before {
  content: "";
  width: 1.6mm;
  height: 1.6mm;
  border-radius: 50%;
  background-color: #dd4c4f;
  display: inline-block;
  margin-right: 3mm;
  vertical-align: middle;
}

.blocks>h1 {
  font-size: 24pt;
}

mark {
  display: inline;
  color: inherit;
  border-radius: 0.5mm;
  text-wrap: nowrap;
  background-color: var(--date-bg);
  padding: var(--padding-p) 1mm;
}


::-moz-selection {
  background: rgb(211, 235, 255);
}

::selection {
  background: rgb(211, 235, 255);
}

.blocks h1,
.blocks h2,
.blocks h3,
.blocks p {
  display: inline;
}

.blocks h1 {
  line-height: var(--line-height-h1);
  padding: var(--padding-h1) 0;
}

.blocks h2 {
  line-height: var(--line-height-h2);
  padding: var(--padding-h2) 0;
}

.blocks h3 {
  line-height: var(--line-height-h3);
  padding: var(--padding-h3) 0;
}

.blocks p {
  line-height: var(--line-height-p);
  padding: var(--padding-p) 0;
}

.blocks strong {
  padding: var(--padding-p) 0;
}