* {
  scrollbar-width: none;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  caret-color: #dd4c4f;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  display: flex;
}

.blocks {
  display: grid;
  outline: none;
  font-size: 11pt;
  text-rendering: optimizeLegibility;
  align-items: center;
}

.blocks p {
  color: inherit;
  /* line-height: 2.2; */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* display: list-item; */
  /* list-style-type: square; */
  margin: 2mm;
}

.blocks p::marker {
  color: var(--dot);
}

.blocks>h1 {
  font-size: 24pt;
  font-weight: 700;
  margin-bottom: 6mm;
}

.blocks>h2 {
  font-size: 20pt;
  font-weight: 600;
}

.blocks>h3 {
  font-size: 16pt;
  font-weight: 600;
}

mark {
  display: inline;
  color: inherit;
  border-radius: 1mm;
  text-wrap: nowrap;
  background-color: var(--date-bg);
  border: 1px solid var(--date-border);
  padding: 0.2mm 1mm;
}