* {
  ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  caret-color: #dd4c4f;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  display: flex;
  gap: 1em;
}

.blocks {
  display: grid;
  outline: none;
  padding: 0 2mm;
  font-size: 10.4pt;
  letter-spacing: 0.04mm;
  text-rendering: optimizeLegibility;
  align-items: center;
}

.blocks p {
  color: inherit;
  line-height: 1.5;
  display: block;
  padding-bottom: 2mm;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: auto;
}

/* .blocks p::marker {
  color: var(--dot);
  font-size: large;
} */

/* .blocks p::before {
  content: "";
  display: inline-flex;
  background-color: var(--dot);
  width: 6px;
  height: 6px;
  min-height: 6px;
  min-width: 6px;
  border-radius: 50%;
  vertical-align: middle;
  margin-top: 6px;
  margin-right: 2.6mm;
} */

.blocks > h1 {
  font-size: 38px;
  font-weight: 700;
  /* text-decoration: underline;
  text-underline-offset: 7px; */
  margin-bottom: 6mm;
}

.blocks > h2 {
  font-size: 24px;
  font-weight: 600;
}

.blocks > h3 {
  font-size: 20px;
  font-weight: 600;
}

mark {
  vertical-align: middle;
  color: inherit;
  border-radius: 1mm;
  text-wrap: nowrap;
  background-color: var(--date-bg);
  border: 1px solid var(--date-border);
  padding: 0 1mm;
}

mark::before {
  content: url("./calendar.svg");
  padding-right: 1mm;
  vertical-align: middle;
}
