.top {
  display: flex;
  gap: 4mm;
  justify-content: space-between;
  width: fit-content;
  margin-bottom: 8mm;
  margin-top: 2.4mm;
}

.top > div {
  padding: 1mm 4mm;
  background-color: var(--line-bg);
  border-radius: 1mm;
  cursor: pointer;
}

.line-container {
  position: relative;
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 8pt;
  width: 550px;
}

.line-event {
  position: absolute;
  font-size: 9pt;
  border-bottom: none;
  background-color: var(--line-bg);
  padding: 0 4mm;
  width: 180px;
  left: 10mm;
}

.line-event-text {
  position: absolute;
  left: 260px;
  font-size: 10pt;
  color: var(--background);
  font-weight: bold;
}
