.current {
  display: block;
  position: absolute;
  width: 3px;
  left: 2.5px;
  background-color: var(--current-text);
}

#time-current {
  display: block;
  width: 100px;
  position: absolute;
  top: -14.5px;
  left: 46px;
  font-size: 8pt;
}

.currrent-text {
  position: absolute;
  margin-left: -5px;
  top: -4mm;
  background-color: var(--current-text);
  color: #fff;
  width: 18px;
  height: 16px;
  border-radius: 1mm;
  font-size: 7.6pt;
  text-align: center;
  padding-top: 0.465mm;
}

.grid-container {
  display: block;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12mm;
  overflow: hidden;
  justify-content: space-between;
}

.list-container {
  width:48%;
  margin: 0 auto;
}

.timeline-container {
  position: relative;
  overflow-x: scroll;
  font-size: 10pt;
  width: 48%;
}

@media (max-width: 899px) {
  .app-container {
    gap: 5%;
  }

  .list-container {
    width: 100%;
  }

  .timeline-container {
    width: 100%;
  }
}

.grid-tasks-container {
  position: absolute;
}

.next-sibling {
  display: block;
  position: absolute;
}

.grid-tasks>div {
  border-radius: 0.2em;
  box-shadow: var(--shadow1) 0px 0px 0px 0.7px inset, var(--shadow2) 0px 1px 1px;
  position: absolute;
  background-color: var(--button);
  padding: 1.6mm 0;
  cursor: move;
}

.grid-tasks-text {
  display: block;
  width: fit-content;
  font-weight: 600;
  font-size: 13.5px;
  padding-left: 1.6mm;
}

.handlers {
  display: flex;
  gap: 4mm;
  margin: 4mm 0;
  width: fit-content;
  cursor: pointer;
  width: 100%;
  justify-content: flex-end;
}

.handlers>div {
  display: block;
  border: 0.5px solid var(--date-border);
  padding: 1.2mm 1.8mm 1.2mm 1.8mm;
  border-radius: 0.24em;
  font-size: 10pt;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  font-size: 14px;
  background-color: var(--date-bg);
  padding: 2mm 0;
  border-radius: 0.24em;
  z-index: 1;
  top: 28px;
  left: 0;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.dropdown-content>p {
  padding: 1mm 4mm;
}

.dropdown-content>p:hover {
  background-color: var(--line);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  padding: 2.6mm 0 0 0;
  background-color: var(--timeline);
  font-weight: 800;
  height: fit-content;
  position: absolute;
}

.timeline-grid-year {
  display: flex;
  position: absolute;
}

.timeline-grid-year>div {
  background-color: var(--timeline);
  border-right: 1px solid var(--line);
  text-align: center;
  padding-top: 2.6mm;
}

.timeline-grid-year>div span {
  font-weight: 800;
}

.timeline-grid-year>div:last-child {
  border-right: none;
}

.timeline-grid-year-dates {
  display: flex;
  position: relative;
  margin-top: 4mm;
  text-align: left;
}

.timeline-grid-year-date {
  display: block;
  font-size: 2.4mm;
  opacity: 0.7;
}

.timeline-grid-day {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(24, 1fr);
}

.timeline-grid-day>div {
  background-color: var(--line-bg);
  border-right: 1px solid var(--line);
  text-align: center;
  min-width: 59px;
  padding-top: 16px;
}