:root {
  --foreground: #333;
  --background: #fefefe;
  --line: rgba(223, 223, 223, 0.647);
  --line-bg: rgba(160, 160, 160, 0.429);
  --shadow1: rgba(15, 15, 15, 0.175);
  --shadow2: rgba(15, 15, 15, 0.175);
  --timeline: #fdfdfd;
  --dates: rgba(137, 137, 137, 0.893);

  --date-bg: rgb(220, 254, 174, 0.8);
  --date-border: #ccc;
  --dot: #7a7a7a;
  --current-line: #f00f0f91;
  --current-text: rgba(246, 89, 89, 0.851);
  --button: #fff;
  --event: #d3d3d3;

  --font-primary: sans-serif;
  --font-size: 11pt;

  --line-height-p: 1.9;
  --padding-p: 1.45mm;

  --padding-h1: 0.54mm;
  --line-height-h1: 1.29;

  --padding-h2: 0.95mm;
  --line-height-h2: 1.4;

  --padding-h3: 1.2mm;
  --line-height-h3: 1.58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fefefe;
    --background: #181818;
    --line: rgba(45, 45, 45, 0.628);
    --line-bg: rgba(78, 78, 78, 0.523);
    --shadow1: rgba(97, 97, 97, 0.704);
    --shadow2: rgba(45, 45, 45, 0.053);
    --timeline: #181818;
    --dates: rgba(132, 131, 131, 0.893);

    --date-bg: rgba(22, 101, 160, 0.684);
    --date-border: #595959e0;
    --dot: #7a7a7a;
    --current-line: #ec202075;
    --current-text: rgba(237, 63, 54, 0.714);
    --button: rgb(43, 43, 43);
    --event: #23394a;
  }
}

.current {
  display: block;
  position: absolute;
  width: 3px;
  left: 2.5px;
  background-color: var(--current-text);
}

#time-current {
  display: block;
  width: 100px;
  position: absolute;
  top: -14.5px;
  left: 46px;
  font-size: 8pt;
}

.currrent-text {
  position: absolute;
  margin-left: -5px;
  top: -4mm;
  background-color: var(--current-text);
  color: #fff;
  width: 18px;
  height: 16px;
  border-radius: 1mm;
  font-size: 7.6pt;
  text-align: center;
  padding-top: 0.465mm;
}

.grid-container {
  display: block;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12mm;
  overflow: hidden;
  gap: 12mm;
  justify-content: space-between;
}

.list-container {
  min-width: calc(45% - 6mm);
  width: calc(45% - 6mm);
  margin: 0 auto;
}

.timeline-container {
  position: relative;
  overflow-x: scroll;
  font-size: 10pt;
  min-width: calc(55% - 6mm);
  width: calc(55% - 6mm);
}

@media (max-width: 799px) {
  .app-container {
    gap: 16mm;
  }

  .list-container {
    width: 100%;
  }

  .timeline-container {
    width: 100%;
  }
}

.grid-tasks-container {
  position: absolute;
}

.next-sibling {
  display: block;
  position: absolute;
}

.grid-tasks>div {
  border-radius: 0.2em;
  box-shadow: var(--shadow1) 0px 0px 0px 0.7px inset, var(--shadow2) 0px 1px 1px;
  position: absolute;
  background-color: var(--button);
  padding: 1.6mm 0;
  cursor: move;
}

.grid-tasks-text {
  display: block;
  width: fit-content;
  font-weight: 600;
  font-size: 13.5px;
  padding-left: 1.6mm;
}

.handlers {
  display: flex;
  gap: 4mm;
  margin: 4mm 0;
  width: fit-content;
  cursor: pointer;
  width: 100%;
  justify-content: flex-end;
}

.handlers>div {
  display: block;
  border: 0.5px solid var(--date-border);
  padding: 1.2mm 1.8mm 1.2mm 1.8mm;
  border-radius: 0.24em;
  font-size: 10pt;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  font-size: 14px;
  background-color: var(--date-bg);
  padding: 2mm 0;
  border-radius: 0.24em;
  z-index: 1;
  top: 28px;
  left: 0;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.dropdown-content>p {
  padding: 1mm 4mm;
}

.dropdown-content>p:hover {
  background-color: var(--line);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  padding: 2.6mm 0 0 0;
  background-color: var(--timeline);
  font-weight: 800;
  height: fit-content;
  position: absolute;
}

.timeline-grid-year {
  display: flex;
  position: absolute;
}

.timeline-grid-year>div {
  background-color: var(--timeline);
  border-right: 1px solid var(--line);
  text-align: center;
  padding-top: 2.6mm;
}

.timeline-grid-year>div span {
  font-weight: 800;
}

.timeline-grid-year>div:last-child {
  border-right: none;
}

.timeline-grid-year-dates {
  display: flex;
  position: relative;
  margin-top: 4mm;
  text-align: left;
}

.timeline-grid-year-date {
  display: block;
  font-size: 2.4mm;
  opacity: 0.7;
}

.timeline-grid-day {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(24, 1fr);
}

.timeline-grid-day>div {
  background-color: var(--line-bg);
  border-right: 1px solid var(--line);
  text-align: center;
  min-width: 59px;
  padding-top: 16px;
}